
.inicio-img img {
    width: 100%; 
    height: 150%;
    display: block;
    object-fit: cover;
}

.text-inicio-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.text-inicio-img h1 {
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin: 0;

}

.text-inicio-img p {
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin: 10px 0 0;
}

.index-about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #FFFFFF , #CAE2FB ,#CAE2FB , #CAE2FB ,#CAE2FB, #CAE2FB, #CAE2FB, #CAE2FB, #CAE2FB);
    margin-top: -18px;
    height: 1350px;
    width: 100%;
}

.index-about-us h1{
    margin-top: 70px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #00405C;
    text-align: center;
}

#text11{
    margin-top: 50px;
    color:#00405C;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 38px;
    width: 75%;
}

.images-about-us img{
    width: 375;
    height: 220px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 80px;
}

#texto-l{
    display: flex;
    justify-content: center;
    gap: 130px
}

.text-about{
    margin-top: -60px;
    margin-right: 90px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #00405C;
    font-size: 30px;
}

.button-saibamais{
    background-color: #FFFFFF;
    color: #00405C;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: 2px solid #FFFFFF;
    width: 500px;
    border-radius: 8px; 
    padding: 30px 20px; 
    font-size: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 130px;
}

.button-saibamais:hover {
    background-color: #FFFFFF;
}

.atual-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #00405C;
    text-align: center;
}

#not-tablet{
    margin-top: 130px;
}

.atual-projetos p{
    margin-top: 120px;
    color:#00405C;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 40px;
    width: 60%;
}

.button-saibamais2{
    background-color: #CAE2FB;
    color: #00405C;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: 2px solid #CAE2FB;
    width: 500px;
    border-radius: 8px; 
    padding: 30px 20px; 
    font-size: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 130px;
}

.button-saibamais2:hover {
    background-color: #CAE2FB;
}

.footer{
    margin-top: 100px;
}